
	{% extends 'main/userbase.html' %} 
	{% load static %}
	{% block title %}cart{% endblock %}
	{% block content %}
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<!-- <p>Fresh and Organic</p> -->
						<h1>Cart</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- cart -->
	<div class="cart-section mt-150 mb-150">
		<div class="container">
			{% if not cart_items %}
			<h4>your shoping cart is empty</h4>
			<br>
			<div class="text-center">
			<a href="{% url 'home' %}" class="btn btn-primary">continue shoping...</a>
			</div>
			{% else %}
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="cart-table-wrap">
						<table class="cart-table">
							<thead class="cart-table-head">
								<tr class="table-head-row">
									<th class="product-remove"></th>
									<th class="product-image">Product Image</th>
									<th class="product-name">Name</th>
									<th class="product-price">Price</th>
									<th class="product-quantity">Quantity</th>
									<th class="product-total">Total Price</th>
								</tr>
							</thead>
							<tbody>
							{% for cart_item in cart_items %}
								<tr class="table-body-row">
									<td class="product-remove"></td>
									<a href="{{cart_item.product.get_url}}"><td class="product-image"><img src="{{ cart_item.product.image.url }}" alt=""></td></a>
									<a href="{{cart_item.product.get_url}}"><td class="product-name">{{cart_item.product.productname}}
										<p class="text-muted small">
											
										</p> 
										</td></a>
									<td class="product-price">₹{{cart_item.product.price}}</td>
									{% comment %} <td class="product-quantity"><a href="{% url 'remove_cart' cart_item.product.id cart_item.id  %}"><button class="input-group-text ">-</button></a> {% endcomment %}
									<td class="product-quantity"></a>	
									<input type="text" name="quantity" class="form-control qty-input text-center" value="{{cart_item.quantity}}">
									<form action="{% url 'add_cart' cart_item.product.id  %}" method="POST">
									{% csrf_token %}
									
									{% comment %} <button type="submit" class="input-group-text ">+</button> {% endcomment %}
									</td>
									</form>	 
									<td class="product-total">₹{{ cart_item.sub_total }}</td>
								</tr>
							</tbody>
							{% endfor %}
						</table>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="total-section">
						<table class="total-table">
							<thead class="total-table-head">
								<tr class="table-total-row">
									<th>Total</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								<tr class="total-data">
									<td><strong>Subtotal: </strong></td>
									<td>{{ total }}</td>
								</tr>
								{% comment %} <tr class="total-data">
									<td><strong>TAX: </strong></td>
									<td>{{tax}}</td>
								</tr> {% endcomment %}
								<tr class="total-data">
									<td><strong>Grand Total: </strong></td>
									<td>{{grand_total}}</td>
								</tr>
							</tbody>
							
						</table>
						<div class="cart-buttons">
							{% comment %} <a href="{% url 'checkout' %}" class="boxed-btn black">Check Out</a> {% endcomment %}
							<a href="#" class="boxed-btn black">Check Out</a>
						</div>
					</div>

					<div class="coupon-section">
						<!-- <h3>Apply Coupon</h3>
						<div class="coupon-form-wrap">
							<form action="index.html">
								<p><input type="text" placeholder="Coupon"></p>
								<p><input type="submit" value="Apply"></p>
							</form> -->
						</div>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	<!-- end cart -->
	{% endblock %}

	